h1 {
    font-size: 150px ;
    color: green;
}
body {
    background-image: url(skull.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

tr {
    color: yellow
}

p {
    font-size: 100px;
    color: red;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}
