h1 {
    font-size: 30px ;
    color: green;
}
body {
    background-image: url(skull.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
